<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="ProjectManagment.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-C7ALLTO;Initial Catalog=ProjectManagment;User ID=sa;Password=infdb@dm1n"
            providerName="System.Data.SqlClient" />
		<add name="ProjectManagment.Properties.Settings.ProjectManagmentConnectionString"
            connectionString="Data Source=DESKTOP-C7ALLTO;Initial Catalog=ProjectManagment; Integrated Security=True; "
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>